.completed {
  text-decoration: line-through;
}

#input-form {
  border: none;
  width: 100vw;
  height: 50px;
}

.tasks-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.close {
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.handle {
  font-size: 25px;
  color: rgb(138, 136, 136);
  margin: 0 20px 0 0;
  cursor: pointer;
}

.form-input-button {
  display: none;
}

.clear-button {
  margin: 0;
  border: none;
  width: 100vw;
  height: 60px;
}
